/* <!-- como profissionalmente é mais comum fazer externo farei mesmo o Franco fazendo Embarcado/ Primeiro mudar a cor de fundo, depois fazer um formulario com nome, senha, email e colocar tudo em baixo um do outro sem usar br / deixar toda label em negrito e maiusculo/ aumentar o espacamento entre as linhas para 20px/ depois deixar apenas 2 caixas de texto tracejadas usando o conceito class/ a primeira caixa deixar verde as demais deixar azul/ deixar apenas a caixa de texto do e-mail mais alta usando ID --> */
body{
    background-color: salmon;
}
input{
    display: block;
    margin-bottom: 20px;
    background-color: green;
}
label{
    font-weight: bolder;
    text-transform: uppercase;
}
.tracejada{
    border: dashed 2px #000;
    background-color: blue;
}
#altura_email{
    height: 40px;
}