body{
    background-color: salmon;
}
input{
    display: block;
    margin-bottom: 20px;
    background-color: green;
}
label{
    font-weight: bold;
    text-transform: uppercase;
}
.tracejado{
    border: dashed 2px #000;
    background-color: blue;
}
#alto{
    height: 40px;
    background-color: bisque;
}
#vermelho{
    background-color:#e60b30;
}
#box-exemplo{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color:#ff149380;
    top: 0px;
    z-index: 1;
}
form{
    display: block;
    z-index: 2;
    position: absolute;
    background-color: white;
}

#box-2{
    width: 400px;
    height:400px;
    position: absolute;
    background-color:rgb(22, 230, 11,.2);
    top: 0px;
    right: 0px;
}
