body{
    background-color: salmon;
}

input{
    display: block;
    margin-bottom:20px;
    background-color: greenyellow;
}

label{
    font-weight: bolder;
    text-transform: uppercase;
}

.tracejadas{
border: dashed 2px;
}